<div class="card">
  <div class="card-header" *ngIf="flag">
    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">

      <div class="input-group input-group-sm mb-3 ">
        <label class="input-group-text" for="first_name">First Name: </label>
        <input formControlName="first_name" id="first_name" type="text" class="form-control"><br><br>
      </div>
      <div class="input-group mb-2 input-group-sm">
        <label class="input-group-text" for="last_name">Last Name: </label>
        <input id="last_name" type="text" formControlName="last_name" class="form-control"><br><br>
      </div>

      <div class="input-group mb-2 input-group-sm">
        <label class="input-group-text" for="address">Address: </label>
        <input id="address" type="text" formControlName="addres" class="form-control"><br><br>
      </div>

      <div class="input-group mb-2 input-group-sm">
        <label class="input-group-text" for="phon">Phon: </label>
        <input id="phon" type="text" formControlName="phon" class="form-control"><br><br>
      </div>

      <h2>Days</h2>
      <div formArrayName="days">
        <span *ngFor="let day of days.controls; index as i">
          <input type="checkbox" class="btn-check" [formControlName]="i" [id]="i" />
          <label class="btn btn-outline-warning" [htmlFor]="i"> {{weekDays[i]}} </label>
        </span>
      </div>

      <p>Complete the form to enable button.</p>
      <button type="submit" class="btn btn-outline-warning" [disabled]="!volunteerForm.valid">Submit</button>
      <div id="msg"></div>
    </form>

    <hr>

    <p>Form Value: {{ volunteerForm.value | json }}</p>

    <p>Form Status: {{ volunteerForm.status }}</p>
  </div>

</div>